* {
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Sono', sans-serif;
    background-color: #fcf5f5;
}
.header {
    padding: 80px;
    text-align: center;
    background-color: #65aecc;
    color: black;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
}

.header h1{
    font-size: 40px;
}

.navbar {
    font-family: 'Sono', sans-serif;
    background-color: #eaacb3;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    padding: 14px 20px;
    color: #000000;
    text-align: center;
    text-decoration: none;
}

.navbar a:hover{
    background-color: white;
    color: #65aecc;
}

.navbar a.right{
    float: right;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    color: black;
    font-family:Arial, Helvetica, sans-serif;
}

.produto {
    margin-top: 20px;
    margin-bottom: 10px;
}

.border {
    border-radius: 6px;
}

.description {
    background-color: #d84c72;
    color: whitesmoke;
    padding: 5px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    border-radius: 6px;
    
}

.value {
    text-align: end;
    background-color: #378805;
    color: whitesmoke;
    padding: 5px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    border-radius: 6px;
    display: inline;
}

.description:hover {
    transform: rotate(-2deg);
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    margin-left: -100px;
}
.div2{
    display: flex;
    flex-wrap: wrap;
    margin-left: 4px;
    flex-direction: row;
    margin-top: 10px;
}

.combos{
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    flex-direction: row;
    margin-top: 10px;
}

.mp {
    font-size: 25px;
    background-color: #eaacb3;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 6px;
    display:inline;
    margin-left: 100px;
}

.main {
    margin-top: 23px;
}

.titulos{
    padding: 5px 10px;
    margin-left: 90px;
}

.nomeOf{
    font-size: 25px;
    background-color: #eaacb3;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 6px;
    display:inline;
    margin-left: 3px;
}

.footer {
    padding: 20px;
    text-align: center;
    background-color:#eaacb3;
    width: 100%;
}

.image {
    background-color: #ffffff;
    width: 90%;
    
}

.btn{
    margin-left: 204px;
    width: 200px;
    height: 30px;
    margin-top: 5px;
    background-color: #fa0021;
    border: 2px solid #000000;
    border-radius: 3px;
}

.btn:hover{
    background-color: #000000;
    color: #fa0021;
    border-color: #fa0021;
}

@media screen and (max-width: 700px){
    .row{
        flex-direction: column;
    }

    .navbar a{
        float: none;
        width: 100%;
    }
}
